/* src/CardContainer.css */
.cardContainer {
  display: flex;
  justify-content: center;
  margin-top: 10vh;
}

.swipe {
  position: absolute;
}

.card {
  position: relative;
  background-color: #fff;
  width: 300px;
  height: 400px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background-size: cover;
  background-position: center;
}

/* Basic styling for name */
.card h3 {
  position: absolute;
  bottom: 0;
  margin: 10px;
  color: #fff;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
}

.buttons {
  margin-top: 50vh;
  /* Adjust positioning as needed */
  display: flex;
  justify-content: center;
  gap: 20px;
}